<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Your Photos</title>
  <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body>
  <h1>Your Photos</h1>
  <button id="upload" onclick="uploadClick()">Upload a Photo</button>
  <button id="view" onClick="viewClick()">View Photos</button>
  <!-- TODO: get photos in here -->
  <p class ="photo">Placeholder Photo1 </p>
  <p class ="photo">Placeholder Photo2 </p>

  <ul class='custom-contextmenu'>
    <li data-action = "download">Download</li>
    <li data-action = "share">Share</li>
    <li data-action = "delete">Delete</li>
  </ul>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/nextcloudapi.js"></script>
</body>

</html>
